<div class="container mt-5">
    <table class="table">
      <thead>
        <tr>
          <tr>YAYINEVLERİ</tr>   
      </thead>
      <tbody>
        <tr *ngFor="let item of publisherList">
          <th scope="row">{{item.name}}</th>
          <th>
            <a routerLink="publisher/{{item.id}}/publisherupdate" class="btn btn-success mx-2">Düzenle</a>
            
          </th>
          <th>
            <button type="button" (click)="deletePublisher($event,item.id)" class="btn btn-danger">Sil</button>
            
          </th>
        </tr>
      </tbody>
    </table>
      <p *ngIf="publisherList.length <= 0">Yükleniyor...</p>
    </div>

   
 
  
  
